*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --main-color: #2B9DF4;
}

body{
    background: black;
    width: 100vw;
    overflow-x:hidden;

}

/* start navbar style */
.logo{
    color: white;
}

header{
    background: black;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: black;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: #000;
}

.nav-toggle{
    display: none;
}
.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
    transition: background 100ms linear;
}

.nav-toggle-label span::before{
    content: '';
    position: absolute;
    top: 7px;
}

.nav-toggle-label span::after{
    content: '';
    position: absolute;
    bottom: 7px;
}

.nav-toggle:checked ~ label span{
    background: transparent;
    
}

.nav-toggle:checked ~ label span::before{
    transform: rotate(-30deg) translateY(-7px) scaleX(1.2) translateX(3px);
}

.nav-toggle:checked ~ label span::after{
    transform: rotate(30deg) translateY(6px) scaleX(1.2) translateX(3px);
}


@media screen and (min-width: 800px){

    .logo{
        font-size: 2em;
        transform: rotate(-30deg);
    }

    .nav-toggle-label{
        display: none;
    }
    header{
        display: flex;
        max-width: 1440px;
        /* width: calc(100vw-20px); */
        width: 100vw;

        margin: 0 auto;
        position: relative;
        border-bottom: solid 3px gray;
        display: flex;
        align-items: center;
       
    }
    header h1{
        margin: 0;
        padding: 5px;
        
    }
    nav{
        transform: scale(1 ,1);
        position: relative;
        transition: transform 0s linear;
        background: transparent;
        padding: 1rem;

    }

    nav ul{
        height: 100%;
        display: flex;
        position: relative;
        justify-content: start;
    }
    nav ul li{
        margin-left: 0;
        margin-right: 1em;
        margin-bottom: 0;
        display: flex;
        align-items: center;

    }

    nav a{
        opacity: 1;
        transition: opacity 0s linear;
    }

    
    

}

/* end navbar style */

.broContainer{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.section1{
    /* margin-top: 3rem; */
    color: black;
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)),url(./media/moon.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.section1 h1{
    padding: 0 1rem;
    font-size: 60px;
}

.section1 p{
    padding: 0 1rem;
    font-size: 19px;
}

.arrow1{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    width: 30px;
    height: 30px;
    border-left: solid 5px var(--main-color);
    border-bottom: solid 5px var(--main-color);
}


.section2{
    min-height: 50vh;
    color: white;
}



.s1{
    width: 90%;
    height: 100%;
    /* background: green; */
    border-bottom: solid 2px var(--main-color);
    margin: 0 auto;
    text-align: center;
}

.section3{
    height: 60vh;
}

.section4{
    min-height: 50vh;
    /* height: 50vh; */
    border: solid 2px green;
    padding : 5rem 0;

}
.section4 h2{
    border-bottom: solid 2px var(--main-color);
}

.section5{
    min-height: 120vh;
    border: solid 2px greenyellow;
    padding: 5rem 0;
}

@media screen and (min-width: 800px){
    .section5{
        height: 120vh;
    }
}

.section6{
    min-height: 80vh;
    border: solid 2px red;
}

@media screen and (min-width: 1320px){
    .section6{
        height: 80vh;
    }
}

.baton{
    width: 100px;
    width: 100px;
    padding: .5rem 1rem;
    position: relative;
    text-align: center;
    margin-left: auto
}

.a1{
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: solid 2px var(--main-color);
    border-left: solid 2px var(--main-color);
    top: 0;
    left: 0;
}
.a2{
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: solid 2px var(--main-color);
    border-right: solid 2px var(--main-color);
    top: 0;
    right: 0;
}
.a3{
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: solid 2px var(--main-color);
    border-bottom: solid 2px var(--main-color);
    bottom: 0;
    left: 0;
}
.a4{
    position: absolute;
    width: 10px;
    height: 10px;
    border-right: solid 2px var(--main-color);
    border-bottom: solid 2px var(--main-color);
    bottom: 0;
    right: 0;
}

.baton2{
    margin-right: auto;
    margin-left: 0;
}

.section7{
    height: 100vh;
    border:  solid 2px greenyellow;
    background: linear-gradient(0deg, rgba(0,0,0,1) 23%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 81%), url(./media/sunrise-1765027_1920.jpg);
    background-position: center;
    background-size: 100% 90%;;
    background-repeat: no-repeat;

}